<div class="w-full bg-gray-100 p-3 shadow-md flex items-center justify-between select-none" id="header">
  <div class="flex gap-3">
    <button class="px-4 py-2 bg-red-900 hover:bg-gray-300 rounded text-white" (click)="handleActionEmmit('exit')">Exit</button>
    <button class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded" (click)="handleActionEmmit('undo')">Undo</button>
    <button class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded" (click)="handleActionEmmit('redo')">Redo</button>
    <button class="px-4 py-2 bg-red-500 hover:bg-red-600 text-white rounded" (click)="handleActionEmmit('delete')">Delete</button>
    <button class="px-4 py-2 bg-green-500 hover:bg-green-600 text-white rounded" (click)="handleActionEmmit('save')">Save</button>
    <select id="format">
      <option value="json">json</option>
      <option value="xml">xml</option>
    </select>
  </div>

  <div>

    <button class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded" (click)="createEmmit('rect')">Rect</button>
    <button class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded" (click)="createEmmit('square')">Square</button>
    <button class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded" (click)="createEmmit('circle')">Circle</button>
    <button class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded" (click)="createEmmit('line')">Line</button>
    <button class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded" (click)="createEmmit('ellipse')">Ellipse</button>
    <button class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded" (click)="createEmmit('triangle')">Triangle</button>
    <button class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded" (click)="createEmmit('shapes')">shapes</button>
  </div>

  <div class="grid grid-cols-5 gap-2 mr-6">
    @for (color of colors; track color) {
      <button
        class="w-8 h-8 rounded"
        (click)="setColor(color.key)"
        [style.background-color]="color.value"
        [class.ring-3]="drawing.SelectedColor === color.key"
      ></button>
    }
  </div>
</div>
