<div class="w-full bg-gray-100 p-3 shadow-md flex items-center justify-between select-none">
  <div class="flex gap-3">
    <button class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded">Undo</button>
    <button class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded">Redo</button>
    <button class="px-4 py-2 bg-red-500 hover:bg-red-600 text-white rounded">Delete</button>
    <button class="px-4 py-2 bg-green-500 hover:bg-green-600 text-white rounded">Save</button>
  </div>

  <div class="grid grid-cols-5 gap-2 mr-6">
    @for (color of colors; track color) {
      <button
        class="w-8 h-8 rounded"
        (click)="setColor(color.key)"
        [style.background-color]="color.value"
        [class.ring-3]="drawing.SelectedColor === color.key"
      ></button>
    }
  </div>
</div>
