<app-header [format]="format" (create)="handleCreateShape($event)" (action)="handleAction($event)"></app-header>
<ko-stage [config]="stageConfig" (click)="handleStageClick($event.event)"
          class="border-slate-600 border-2"
          #stageComponent
>
  <ko-layer>
    @for (shape of shapesSignal()(); track $index) {
      @if (shape.className == "rect") {
        <ko-rect [config]="shape" (click)="handleShapeClick($event)"
        (dragstart)="handleDragStart($event)" (dragend)="handleDragEnd($event)"
        ></ko-rect>
      }
      @if (shape.className == "circle") {
        <ko-circle [config]="shape" (click)="handleShapeClick($event)"
                   (dragstart)="handleDragStart($event)" (dragend)="handleDragEnd($event)"
        ></ko-circle>
      }
      @if (shape.className == "ellipse") {
        <ko-ellipse [config]="shape" (click)="handleShapeClick($event)"
                    (dragstart)="handleDragStart($event)" (dragend)="handleDragEnd($event)"
        ></ko-ellipse>
      }
      @if (shape.className == "square") {
        <ko-rect [config]="shape" (click)="handleShapeClick($event)"
                 (dragstart)="handleDragStart($event)" (dragend)="handleDragEnd($event)"
        ></ko-rect>
      }
      @if (shape.className == "line") {
        <ko-line [config]="shape" (click)="handleShapeClick($event)"
                 (dragstart)="handleDragStart($event)" (dragend)="handleDragEnd($event)"
        ></ko-line>
      }
      @if (shape.className == "triangle") {
        <ko-regular-polygon [config]="shape" (click)="handleShapeClick($event)"
                            (dragstart)="handleDragStart($event)" (dragend)="handleDragEnd($event)"
        ></ko-regular-polygon>
      }
    }
    <ko-transformer
    #transformer
    ></ko-transformer>
  </ko-layer>
</ko-stage>
